@font-face {
  font-family: "Tahoma";
  src: url("./font/tahoma.ttf") format("truetype");
}
:root {
  --fpt-color: #ff6400;
  --gray: #f5f5f5;
}
.full-h {
  height: 100%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-size: 16px;
  @media screen and (max-width: 1600px) {
    font-size: 13px;
  }
  @media screen and (max-width: 1300px) {
    font-size: 11px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 9px;
  }
  @media screen and (max-width: 1100px) {
    font-size: 8px;
  }
}
